body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}
/* mise en page du header */
#logo-fabrique{
    height:auto ;
    width:13% ;
    margin-right: 7%;
    margin-left: 3%;
}
header{
    border: hidden;
    padding:2%;
    box-shadow: 5px 5px 25px rgb(230, 225, 225);
}
nav{
    display: flex;
}
nav ul li a{
    text-decoration: none;
    color:black
}
nav ul li a:hover{
    color:rgb(199, 15, 52);
    text-decoration-line: underline;
    text-underline-offset: 3rem;

}
nav ul li{
    list-style: none;
    margin-right:15%;
    font-weight: 600;
}
#list-langue{
    display: flex;
}
select{
    margin-right:7%;
    border: hidden;
}
#btn-contact{
   background-color: crimson;
   color: white;
   padding: 6%;
   border: hidden;
   border-radius:12px;
   Cursor:pointer
}
nav ul {
    display: flex;
    align-items: center;
}
/* styliser la section de la petite histoire */
h1{
   text-align: center;
   font-size: 3em;
   font-weight: bolder;
   color: rgb(218, 17, 57);
   margin-bottom: 9%;
}
#histoire h2{
    border: solid;
    margin-top: 4em;
    text-align: right;
    font-size: 2.6em;
    padding:0.4em;
    background-color: rgb(199, 8, 46);
    color: white;
    border-radius: 0 0 99px 0;
    padding-left:1em ;
    padding-right:1.1em ;
    height: 1%;
    box-shadow:0.3px 17px rgb(243, 91, 121) , 1.5px 34px rgb(235, 192, 200)
 }

#histoire p{
  width: 20em;
  line-height:2em;
  font-size: 1.2em;
  padding: 2em;
  margin:1em;
  text-align: center;
  border-style:solid;
  border-color: rgb(241, 184, 196);
  border-width:0.1em;
  border-radius: 17px;
  position:absolute;
  right:8%;
  background-color: white;
}
#paragraphe{
  background-color: crimson;
  color: crimson;
  width: 20em;
  line-height:2em;
  font-size: 1.2em;
  padding: 2em;
  margin:1em;
  text-align: center;
  border: 0.1em solid rgb(241, 184, 196);
  border-radius: 17px;
  margin-right: 9%;
  padding-bottom: 3%;
  transform-origin: top right;
  transform: rotate(7.2deg);
}
#histoire{
display: flex;
justify-content: space-between;

}
#année{
font-size: 1.5em;
font-weight: bold;
}
.quote{
    height:auto;
    height: 5em;
}
/* styliser la partie pédagogie */
.titres{
    text-align: center;
    color:rgb(212, 40, 75);
    margin-top:2.7em;
    font-size: 2.3em;
    margin-bottom: 1.5em;
}
#pédagogie p{
    width: 28em;
    font-size: 1.2em;
    text-align:left;
    line-height: 2em;
}
#pédagogie{
    display:flex;
    justify-content: space-evenly;
    align-content: center;
}
#pédagogie h3{
    color: rgb(204, 31, 65);
    margin-bottom: 0.6em;
    font-size: 1.6em;
}
/* styliser la partie des 6 pliers */
#plier-pédagogie{
    font-size:2em;
    color: rgb(187, 14, 48);
    margin-top: 4em;
    margin-bottom:1em;
    margin-left:1.5em;
}
#pliers span{
    font-size: 3em;
    color: rgb(197, 15, 52);
    margin-left: 0.2em;
}
#pliers h3{
    font-size:1em;
    margin-bottom:1em;
    margin-left: 0.6em;
}
#pliers p{
    font-size: 1em;
    width: 19em;
    margin-left: 0.6em;
}
.box{
    padding:0.5em;
    margin: 1em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: rgb(194, 16, 51);
    box-shadow: 10px 5px 14px rgb(248, 246, 246);
}
#pliers{
    display:grid;
    grid-template-columns: 400px 400px ;
}
#section-box{
    display:flex;
    justify-content: space-evenly;
}
#étudiants-simplon{
    width:400px ;
    height:700px;
    border-radius:14px;
    box-shadow:27px -14px crimson
}
/* styliser la partie des valeurs */
#valeur-div h3{
    color: rgb(211, 38, 73);
    font-size:2em;
    margin-bottom: 0.5em;
}
#valeur-div p{
    width: 418px;
    line-height: 2em;
    margin-bottom: 6em;
}
#btn-voir-plus{
    font-size: 1.2em;
    border-radius: 35px;
    padding-left:3em;
    padding-right:3em;
    padding-top: 0.5em;
    padding-bottom: 0.7em;
    background-color: crimson;
    color: white;
    font-weight: bolder;
    border-color: rgb(252, 249, 249);
    cursor:pointer
}
.respect{
    display:flex;
    margin:1em;
    border:solid thin rgb(250, 240, 240);
    padding-left: 1.5em;
    padding: 2em;
}
.respect span{
    font-size: 1.3em;
}
.respect p{
    line-height:1.5em;
}
.respect h4{
    color: rgb(212, 17, 56);
    padding:0.8em;
    font-size: 1.4em;
    margin-right: 1em;
    margin-top: 0.1em;
    border: hidden;
    border-radius: 35px;
    background-color:rgb(255, 189, 202);
}
#valeur{
    display:flex;
    justify-content: space-evenly;
}
/* styliser la partie chiffre */
#chiffres{
    display:flex;
    justify-content: space-evenly;
    align-content:center ;
    background-image: url("les images/Design sans titre (2).png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2%;
    color: white;
}
#chiffres div{
    width: 180px;
    text-align: center;
}
#chiffres h2{
    font-size: 3em;
    margin-bottom: 0.5em;
}
/* styliser la partie de l'équipe */
#ngor,#samba,#sane{
 width: 110px;
 height:110px;
 border-style: hidden;
 border-radius:50px;
}
#paragraphe-equipe{
    text-align: center;
    line-height: 1.5em;
    font-size: 1.5em;
    font-weight:bold;
    margin-bottom: 4em;
}
.profil-formateur{
    border-style:hidden;
    border-radius: 4%;
    padding:2em;
    box-shadow: 13px 13px 13px 7px rgb(230, 226, 226);
}
#formateur{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.profil-formateur h4{
    margin-top:0.6em;
    margin-bottom:0.5em;
    font-size: 1.5em;
}
.profil-formateur span{
    color:crimson;
    font-size:0.8em
}
.profil-formateur p{
    margin-top: 2em;
    color:rgb(179, 173, 173);
    font-size: 1.3em;
    margin-bottom: 2em;
}
.icon{
    height:auto;
    width:13%;
}
/* styliser la partie recrutement */
#groupe-simplon h3{
 color:rgb(206, 16, 54);
 font-weight: bolder;
}
#groupe-simplon p{
width:90% ;
line-height: 1.6;
}
#groupe-simplon{
    display:grid;
    grid-template-columns: 600px 600px;
    gap:10%;
}
#photo-de-groupe{
    height: auto;
    width:100%;
}
#cours{
font-size:2em
}
#offre h4{
font-size: 1.3em;
}
#offre h5{
    color:crimson;
    font-size: 1em;
}
#offre p{
    width: 45%;
    font-size: 1em;
}
#offre ul li{
    list-style: none;
    margin: 3%;
}
#offre ul{
    width:11%;
    padding:2%;
    border: solid thin;
    border-radius: 11px;
    border-color: rgb(233, 228, 228);
    background-color: white;
    box-shadow:5px 5px 5px rgb(223, 221, 221);
    position:absolute;
    left:24%;
    top:775%
}
#offre{
    border: hidden;
    border-radius: 3%;
    background-color: rgb(248, 243, 243);
    margin-top: 1%;
    padding: 2%;
}
.icone{
    margin-right: 12%;
    height: auto;
    width: 1.3em;
}
#input{
    padding: 3%;
    box-shadow: 5px 4px 2px rgb(235, 232, 232);
    border-radius:5%;
    border:solid thin rgb(238, 232, 232);
    margin: 2%;
}
::placeholder{
    color:rgb(201, 197, 197);
}
textarea{
    padding: 2.5%;
    font-size: 1.1em;
    box-shadow: 5px 4px 3px rgb(248, 242, 242);
    border-radius:2%;
    border:solid thin rgb(238, 232, 232);
}
#btn-rejoindre{
    font-size: 1em;
    font-weight: bolder;
    background-color: crimson;
    color: white;
    padding: 15px 45px;
    border: none;
    border-radius:30px;
    cursor:pointer
}
#btn-postuler{
    font-size: 1em;
    font-weight: bolder;
    background-color: crimson;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius:30px;
    cursor: pointer;
    margin-left: 31%;
}
#btn-joindrefichier{
    color:rgb(201, 19, 55);
    border:none;
    background: white;
    cursor: pointer;
    
}
#paperclip{
    margin-left:48%;
}
.paperclip{
    transform: rotate(-29deg);
}
#fields{
    color:rgb(201, 197, 197);
}

/* styliser la partie des partenaires */
.partner{
    display:flex;
    justify-content: space-evenly;
}
#partner1{
    margin-bottom: 10%;
    margin-top: 6%;
}
#partner2{
    margin-bottom: 25%;
}
#orange{
    height: 100px;
    width: 160px;
   }
#societe{
   height: 100px;
   width: 210px;
   }
#france{
    height:auto;
    width:110px;
   }
#union{
    height: auto;
    width:110px ;
   }
#aviva{
    height: auto;
    width:110px ;
}
/* styliser le footer */
footer{
    display: flex;
    justify-content:space-evenly;
    background-image: url("les images/Design sans titre (1).png");
    background-repeat: no-repeat;
    background-size: cover;
    padding:4%;
}
footer h2{
    color: white;
}
footer p{
    color:rgb(182, 180, 180)
}
#btn-joindre{
    background-color: rgb(192, 15, 50);
    color: white;
    border: none;
    cursor: pointer;
}
#simplon{
    height: auto;
    width:55%;
    margin-top:5%;
}
.réseau{
    margin-top:6%;
    height: auto;
    width: 9%;
    margin-left: 2%;
}
aside{
    color:white;
    background-color: crimson;
    padding: 1.5%;
    font-size:1em;
}
aside span{
    margin-left: 61%;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    header {
        padding: 1%; 
    }

    #logo-fabrique {
        width: 20%; 
    }

    nav ul li {
        margin-right: 5%; 
    }

    #paragraphe {
        display: none; 
    }
}








